// @TODO: disable this in admin

::selection {
  background: $blue !important;
}

::-moz-selection {
  background: $blue !important;
}

#theme-page {
  .theme-page-wrapper {
    @include clearfix();
    @include wrapper();
    margin-bottom: 0;
    margin-top: 0;

    .theme-content {
      padding: 0;
    }
  }
}

#mk-header {
  @include clearfix();
  background: none;
  border-bottom: 0 !important;
  left: 0;
  position: absolute;
  top: 0;

  .header-logo {
    float: left;
    padding: 9px;

    @include media($tablet) {
      position: static;
      min-width: 96px;
      padding: 0 18px;
      text-align: center;

      @include span-columns(2);
    }

    a {
      img {
        width: 80px;
        height: 70px;
        position: relative;
      }
    }
  }

  .mk-header-inner {
    background: none;
    border: 0;
  }
}

#mk-responsive-nav {
  background: $off-black;
}

.mk-opened-nav {
  #mk-header {
    background: $off-black;
    position: relative;
  }
}

.mk-close-nav {
  #mk-header {
    position: absolute;
  }
}

.-hero[role="banner"] {
  background-image: url("../images/category/header_home_mobile.jpg");
  height: 310px;

  @include media($tablet) {
    background-image: url("../images/category/header_home.jpg");
  }
}

.category {
  .-hero[role="banner"] {
    h1 {
      @include visually-hidden();
    }
  }
}

.mk-nav-responsive-link {
  color: #fff;
  font-size: $font-large;
}

.mk-header-padding-wrapper {
  display: none;
}

.mk-header-nav-container {
  @include clearfix();
  border-bottom: 2px solid $med-gray;
  line-height: auto;
  margin-bottom: 30px;
  width: auto !important;

  #mk-main-navigation {
    display: block;

    @include media($tablet) {
      @include wrapper();
      padding-bottom: 0;
      padding-top: 0;
    }

    @include media($desktop) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .main-navigation-ul {
    @include clearfix();
    float: none;

    li.menu-item {
      background: #fff;
      border-right: 2px solid $med-gray;
      line-height: 1.1;
      padding: 10px 30px;
      position: relative;

      &:first-child {
        padding-left: 0;
        text-indent: -2px;
      }

      &:last-child {
        border-right: 0;
      }

      a.menu-item-link {
        color: $dark-gray;
        font-size: $font-medium;
      }

      &.current-menu-item {
        @include active-nav();
      }
    }
  }
}

.home {
  .main-navigation-ul {
    li.menu-item {
      &:first-child {
        @include active-nav();
      }
    }
  }
}

.main-nav-side-search {
  display: none;
}

#mk-footer {
  width: 100%;
  background: #000;
  margin: 0 auto;

  @include media($tablet) {
    padding: 18px;
  }
}


#respond {
  #submit {
    display: inline-block;
    clear: both;
    background: $blue;
    border: 0;
    margin: 4px 0;
    line-height: 1.3;
    padding: 0.55em 1em 0.45em;
    cursor: pointer;
    color: #fff;
    font-family: $font-proxima-nova;
    font-weight: $weight-bold;
    font-size: $font-medium;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: $lg-border-radius;
    @include appearance(none);
    @include highlight-on-focus;

    &:hover {
      background: lighten($blue, $color-tint);
    }

    &:active {
      outline: 0;
      background: darken($blue, $color-tint);
    }

    &:link, &:active, &:hover {
      // overrides for default <a> styling
      color: #fff;
      text-decoration: none;
    }
  }
}

.clearboth {
  display: none;
}

.row {
  @include clearfix();
}

.mk-pagination {
  @include clearfix();
  margin: -30px 0 50px;
  text-align: center;

  &:before {
    color: $light-gray;
    content: "\2026";
    display: block;
    font-size: $font-hero;
    line-height: 1.2;
  }

  .mk-pagination-inner,
  .mk-total-pages {
    display: none;
  }

  .mk-pagination-next {
    a {
      @include reveal();
    }
  }

  .mk-pagination-previous {
    a {
      @include reveal();
    }
  }
}

.hidden {
  display: none;
}

.mk-preloader {
  opacity: 0;
  position: fixed;
  transition: opacity .5 ease;

  &.active {
    opacity: 1;
  }
}
