@mixin wrapper {
  padding: 18px;
  @include clearfix();

  @include media($tablet) {
    @include span-columns(12);
    @include shift(2);
    float: none;
    padding: 18px 0;
  }

  @include media($desktop) {
    padding: 27px 0;
  }
}

@mixin btn {
  display: inline-block;
  clear: both;
  background: $blue;
  border: 0;
  margin: 4px 0;
  line-height: 1.3;
  padding: 0.55em 1em 0.45em;
  cursor: pointer;
  color: #fff;
  font-family: $font-proxima-nova;
  font-weight: $weight-bold;
  font-size: $font-medium;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: $lg-border-radius;
  @include appearance(none);
  @include highlight-on-focus;

  &:hover {
    background: lighten($blue, $color-tint);
  }

  &:active {
    outline: 0;
    background: darken($blue, $color-tint);
  }

  &:link, &:active, &:hover {
    // overrides for default <a> styling
    color: #fff;
    text-decoration: none;
  }
}

@mixin reveal () {
  color: $med-gray;
  cursor: pointer;
  font-size: $font-regular;
  font-weight: $weight-normal;
  margin-bottom: 0;
  text-decoration: underline;
}
