.mk-blog-modern-item {

  .mk-blog-meta {
    margin-left: 0;
  }

  &.image-post-type {
    .featured-image {
      @include media($tablet) {
        @include span-columns(4 of 12);
      }
    }

    .mk-blog-meta {
      @include media($tablet) {
        @include span-columns(8 of 12);
      }
    }
  }

  .blog-modern-social-section {
    @include media($tablet) {
      @include span-columns(3 of 12);
      float: right;
    }

    margin: 0;
  }

  .blog-share-container {
    border: 0;
  }

  .view {
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
  }

  .blog-modern-btn {
    @include btn();
    letter-spacing: auto;
    transition: none;
  }

  .the-title {
    letter-spacing: 0;
    margin: 0;
  }

  .mk-categories {
    display: none;
  }

  .mk-blog-author {
    margin-bottom: 10px;
  }

  .blog-modern-comment,
  .blog-modern-share,
  .mk-love-holder {
    display: none;
  }

  .blog-social-share {
    display: block !important;
    margin-top: 30px;
    opacity: 1 !important;
    padding-left: 0;

    @include media($tablet) {
      float: right;
    }

    li {
      float: left;
      list-style: none;
      margin: 0 10px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
    }

    i {
      font-size: $font-medium;
    }
  }
}

.post {
  img {
    @include fluid-image();
  }
}

.mk-blog-single {
  .article-wrapper {
    padding: 0 20px;
  }

  article {
    border: 1px solid $light-gray;
  }

  .blog-single-title {
    line-height: 1.2;

    @include media($tablet) {
      @include span-columns(9 of 12);
    }
  }

  .blog-single-meta {
    float: none;
    line-height: 1;
  }

  .return {
    margin: 0 0 10px;
  }
}

.single-social-section {
  @include clearfix();
  float: none;
  margin: 0 0 30px;

  .blog-share-container {
    display: block;
    float: none;
    margin: 0;
  }

  &.top {
    margin-bottom: 0;

    @include media($tablet) {
      @include span-columns(3 of 12);
    }

    .blog-share-container {
      @include clearfix();
      display: block;
      float: right;
      margin-left: 0;
      margin-top: 58px;
    }
  }

  &.bottom {
    .single-social-title {
      margin: 0;

      @include media($tablet) {
        @include span-columns(3 of 12);
      }
    }

    .blog-share-container {
      @include media($tablet) {
        @include span-columns(9 of 12);
      }
    }
  }

  .blog-modern-comment,
  .blog-single-share,
  .mk-love-holder {
    display: none;
    float: none;
  }
}

.single-share-box {
  background: none;
  display: block !important;
  float: none;
  margin: 0;
  opacity: 1 !important;
  padding-left: 0;
  position: static;
  width: 100%;

  &:before {
    background: none;
    height: auto;
    margin: 0;
    position: static;
    width: auto;
  }

  li {
    float: left;
    list-style: none;
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
      transition: none;

      i {
        font-size: $font-medium;
      }
    }
  }
}

.mk-single-content {
  margin: 0;
}

#theme-page {
  .mk-post-date,
  .mk-post-cat,
  .mk-blog-author {
    color: $med-gray;
    font-size: $font-small;
    font-style: normal;
  }

  .mk-post-cat {
    border-left: 1px solid $med-gray;
    padding-left: 5px;
  }
}

.mk-about-author-wrapper {
  background: $light-gray;
  border: 0;
  padding: 20px;

  .avatar {
    background: #fff;
  }

  .about-author-title {
    margin: 0;
  }

  .about-author-name {
    display: none;
  }

  .about-author-social {
    padding-left: 0;

    li {
      font-weight: $weight-sbold;
      text-transform: uppercase;

      a {
        color: $blue;
        text-transform: none;

        &:hover {
          color: $blue;
        }
      }
    }

    .email {
      display: none;
    }
  }
}

.single-post-tags {
  font-size: $font-small;
  margin-bottom: 30px;

  a {
    color: $blue;
    font-size: $font-small;
  }
}

blockquote {
  line-height: 1.2;
  margin-bottom: 27px;
  text-align: center;

  @include media($tablet) {
    padding: 0 150px;
  }

  &:before,
  &:after {
    background: $light-gray;
    content: " ";
    display: block;
    height: 5px;
    margin: 0 auto;
    width: 70%;
  }

  p {
    @include media($tablet) {
      font-size: $font-large;
    }

    font-style: italic;
    margin-bottom: 0;
    padding: 10px 0;
  }
}
