// @TODO: disable this in admin
::selection {
  background: $blue !important;
}

::-moz-selection {
  background: $blue !important;
}

.mk-grid {
  @include clearfix();
}

#theme-page {
  .theme-page-wrapper {
    @include clearfix();
    @include wrapper();
    margin-bottom: 0;
    margin-top: 0;

    .theme-content {
      padding: 0;
    }
  }
}

#mk-header {
  @include clearfix();
  background: none;
  border-bottom: 0 !important;
  left: 0;
  position: absolute;
  top: 0;

  .header-logo {
    float: left;
    padding: 9px;

    @include media($tablet) {
      position: static;
      min-width: 96px;
      padding: 0 18px;
      text-align: center;

      @include span-columns(2);
    }

    a {
      img {
        width: 80px;
        height: 70px;
        position: relative;
        z-index: 1;
      }
    }
  }

  .mk-header-inner {
    background: none;
    border: 0;
  }

  .mk-opened-nav & {
    background: $off-black;
    position: relative;
  }

  .mk-close-nav & {
    position: absolute;
  }
}

#mk-responsive-nav {
  background: $off-black;
  list-style: none;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    border-bottom: 1px solid $dark-gray;

    a {
      display: block;
      padding: 5px 15px;
    }
  }

  .mk-opened-nav & {
    max-height: 1000px;
  }
}

.chrome--nav {
  margin-bottom: 0;
  
  a {
    color: $blue;
  }
}

.-hero[role="banner"] {
  background-image: url("../dist/images/blog_hero_768x768.jpg");
  height: 310px;

  @include media($tablet) {
    background-image: url("../dist/images/blog_hero_1440x465.jpg");
  }

  > .wrapper {
    text-align: center;
  }

  .__title {
    text-transform: uppercase;
  }

  .__subtitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: auto;
  }
}

.mk-nav-responsive-link {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: $font-large;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;

  @include media($tablet) {
    display: none;
  }
}

.mk-header-padding-wrapper {
  display: none;
}

.mk-header-nav-container {
  @include clearfix();
  border-bottom: 2px solid $med-gray;
  line-height: auto;
  margin-bottom: 30px;
  width: auto !important;

  #mk-main-navigation {
    display: block;

    @include media($tablet) {
      @include wrapper();
      padding-bottom: 0;
      padding-top: 0;
    }

    @include media($desktop) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .main-navigation-ul {
    @include clearfix();
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;

    li.menu-item {
      background: #fff;
      border-right: 2px solid $med-gray;
      line-height: 1.1;
      float: left;
      padding: 10px 30px;
      position: relative;

      &:first-child {
        padding-left: 0;
        text-indent: -2px;

        .home & {
          @include active-nav();
        }
      }

      &:last-child {
        border-right: 0;
      }

      a.menu-item-link {
        color: $dark-gray;
        font-size: $font-medium;
      }

      &.current-menu-item {
        @include active-nav();
      }
    }
  }
}

.main-nav-side-search {
  display: none;
}

.chrome--footer {
  .wrapper {
    @include wrapper();
    padding: 0;

    @include media($tablet) {
      padding: 0;
    }
  }
}

#respond {
  #submit {
    display: inline-block;
    clear: both;
    background: $blue;
    border: 0;
    margin: 4px 0;
    line-height: 1.3;
    padding: 0.55em 1em 0.45em;
    cursor: pointer;
    color: #fff;
    font-family: $font-proxima-nova;
    font-weight: $weight-bold;
    font-size: $font-medium;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: $lg-border-radius;
    @include appearance(none);
    @include highlight-on-focus;

    &:hover {
      background: lighten($blue, $color-tint);
    }

    &:active {
      outline: 0;
      background: darken($blue, $color-tint);
    }

    &:link, &:active, &:hover {
      // overrides for default <a> styling
      color: #fff;
      text-decoration: none;
    }
  }
}

.clearboth {
  display: none;
}

.row {
  @include clearfix();
}

.mk-pagination {
  @include clearfix();
  margin: -30px 0 50px;
  text-align: center;

  &:before {
    color: $light-gray;
    content: "\2026";
    display: block;
    font-size: $font-hero;
    line-height: 1.2;
  }

  .mk-pagination-inner,
  .mk-total-pages {
    display: none;
  }

  .mk-pagination-next {
    a {
      @include reveal();
    }
  }

  .mk-pagination-previous {
    a {
      @include reveal();
    }
  }
}

.hidden {
  display: none;
}

.mk-preloader {
  opacity: 0;
  position: fixed;
  transition: opacity .5 ease;

  &.active {
    opacity: 1;
  }
}
