.category-member-stories {
  .-hero[role="banner"] {
    background-image: url("../images/category/header_member_stories_mobile.jpg");

    @include media($tablet) {
      background-image: url("../images/category/header_member_stories.jpg");
    }
  }

  .mk-blog-modern-item {
    &.image-post-type {
      .featured-image,
      .mk-blog-meta {
        @include media($tablet) {
          @include span-columns(12 of 12);
          float: none;
        }
      }
    }
  }
}
